body{
    position: relative;
}
#about-content{
    padding-top: 5%;
    padding-bottom:2%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 35px;
}
.portrait{
    width: 450px;
}
.contact-email{
    font-size:30px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.contact{
    padding: 0;
    margin: 0;
}
.software-icons{
    padding-top:3%;
    padding-bottom:3%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}