.work-gallery{
    width: 100%;
    text-align: center;
}
.work-sub-gallery{
    display: grid; 
    grid-template-columns: repeat(2, 1fr); /* 2 columns */ 
    text-align: center;
    width: 100%;
}
.work-video{
    width: 85%;
}
.work-img{
    width: 100%;
}
.title{
    font-size: 20px;
    margin-top: 0%;
}
.cowcow{
    margin-top: 2%;
    width: 70%;
    border-radius: 20px;
}
.anderson{
    margin-top: 2%;
    width: 65%;
}
.copyright{
    font-size: 12px;
}
.work-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* two columns */
  gap: 6px;
}
.award{
    text-align: left;
    display: block;
    margin-top: 2%;
}
.work-column {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.poster {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
}
h1{
    font-size: 29px;
}
p{
    font-size: 16px;
}

@media (max-width: 1024px){
        h1{
        font-size: 23px;
    }
    p{
        font-size: 12px;
    }
}