  .graphic-design-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 6px; /* spacing between images */
    place-items: center;
  }
  .design-img{
    width: 100%;
    border-radius: 15px;
      height: 100%;          /* REQUIRED */
  object-fit: cover;
  display: block;
  }
  .design-work{
    margin-top: 2%;
  }
  .design-thumb {
  width: 100%;
  max-width: 720px;   /* optional */
  height: 300px;      /* consistent rectangle */
  overflow: hidden;
  border-radius: 12px;
  margin-top: -12px;
}
.design-thumb img {
  transition: transform 0.4s ease;
}

.design-thumb:hover img {
  transform: scale(1.05);
}

  p {
    font-size: 16px;
  }
  h1{
    font-size: 30px;
  }
@media (max-width: 1024px) {
    .design-work {
        display: inline;
        max-width: 100%;
         width: 90%;
    }
    .design-img{
      width: 100%;
      border-radius: 10px;
    }
    .graphic-design-gallery{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .design-video{
      padding: 0;
      border-radius: 15px;
    }
    .copyright-notice{
      font-size: 9px;
    }
    h1{
        font-size: 23px;
    }
    p{
        font-size: 12px;
    }
}