#footer{
    display: flex;
    position: relative;
    justify-content: flex-end;
    z-index: 10000;
}
.footer-content{
    align-items: center;
    gap: 13px;
    margin-top: auto;
    display: flex;
    justify-content: end;
}
.resume{
    font-size: 25px;
    transition: all 0.25s ease;
}
.resume:hover{
    color: var(--hover-color);
}
.icon{
    transition: all 0.25s ease;
}
.icon:hover{
    opacity: 0.6;
}

/* Small devices (mobile phones) */
@media screen and (max-width: 600px) {
  /* Styles for small screens */
#footer{
    justify-content: center;
}
.resume{
    font-size: 18px;
}
.icon{
    width: 30px;
    height: auto;
}
}

