@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Cormorant+Unicase:wght@300;400;500;600;700&family=Fustat:wght@200..800&display=swap');


:root {
  /* Font family variable */
  --cormorant-unicase: "Cormorant Unicase", serif;

  /* Weight variables */
  --cormorant-light: 200;
  --cormorant-regular: 400;
  --cormorant-medium: 500;
  --cormorant-semibold: 600;
  --cormorant-bold: 700;

    /* Font family variable */
  --bellefair: "Bellefair", serif;
  --fustat:"Fustat";

    /* Weight variables */
  --fustat-light: 300;
  --fustat-regular: 400;
  --fustat-medium: 500;
  --fustat-semibold: 600;
  --fustat-bold: 700;
  --fustat-extrabold: 800;


    /* Weight variables */
  --bellefair-light: 300;
  --bellefair-regular: 400;
  --bellefair-medium: 500;
  --bellefair-semibold: 600;
  --bellefair-bold: 700;

  --text-color: #E2F8FF;
  --bg-color:#0F0F12;
  --hover-color:#7296a2;
}

body{
    background-color: var(--bg-color);
    position: relative;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 2.5%;
    margin: 0;
}
h1{
    font-family: var(--cormorant-unicase);
    font-weight: var(--cormorant-light);
    color: var(--text-color);
    font-size: 35px;
    text-decoration: none;
}

p{
    font-family: var(--fustat);
    font-weight: var(--fustat-light);
    font-size: 18px;
    color: var(--text-color);
}

a {
  text-decoration: none !important;
  cursor: pointer !important;
  color: var(--text-color);
}

.accent{
  position: absolute;
  width: 300px; 
  height: 300px;
  border-radius: 50%;
  filter: blur(120px);
  z-index: -1;
}

.fadeIn{
    /* Start fully transparent */
  opacity: 0;
  /* Animate opacity from 0 to 1 */
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.delay-1{
  animation-delay: 0.25s; /* delay before animation starts */
}

.delay-2{
  animation-delay: 0.6s; /* delay before animation starts */
}

.delay-3{
  animation-delay: 0.15s; /* delay before animation starts */
}

.orange{
  background: #975A40;
}

.blue{
  background: #3E869E;
}
.accent-left{
    left: -140px;
    bottom: -100px;
}
.accent-right{
    right: -50px;
    top: 150px;
}