
.index-header{
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10000;
}
.first-name-logo{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items:baseline;
    margin:0px;
    padding:0px;
}
.first-name{
    font-size: 80px;
    position: relative;
    margin:0px;
    padding:0px;
}
.logo{
    width: 80px;
    top:10px;
    position: relative;
    margin:0px;
    padding:0px;
}
.last-name{
    position: relative;
    align-items: first baseline;
    font-size: 40px;
    margin:0px;
    padding:0px;
    top:-20px;
    padding-left: 85px;
}
#nav-home{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;
    padding-top: 90px;
    padding-bottom: 110px;
    z-index: 10000;
}
.nav-home-text{
    font-size: 65px;
    padding: 0;
    margin: 0;
    transition: all 0.2s ease;
}
.nav-home-text:hover{
    transform: translateX(-10px);
    color: var(--hover-color);
}

.accent-home-position-top{
    top: -110px;
    right: 360px;
    z-index: -1;
}
.accent-home-position-bottom{
    bottom: -120px;
    right: -10px;
      z-index:-1;
}
.photo-home{
    position: fixed;
    bottom: 0px;
    left: -150px;
    width: 90%;
    height: auto;
    margin: 0;
    transition: all 0.2s ease;
    z-index: 1000;
}

.photo{
    height: auto;
    width: 100%;
}


/* Small devices (mobile phones) */
@media screen and (max-width: 600px) {
  html, body {
  height: auto;
  min-height: 100%;
  overflow-x: hidden; /* but keep vertical scroll */
}
  /* Styles for small screens */
  .index-header{
    gap: 10px;
    text-align: center;
  }
  .first-name-logo{
    padding-top: 15%;
    padding-left: 3%;
  }
  .first-name{
    font-size: 33px;
  }
  .last-name{
    padding-left: 15%;
    font-size: 28px;
    top: -7px;
  }
  .logo{
    width: 30px;
    top: -1px;
  }
  #nav-home{
    align-items: center;
    gap: 30px;
    padding-top: 15%;
    padding-bottom: 15%;
  }
  .nav-home-text{
    font-size: 40px ;
  }
  .photo-home{
    position: fixed;
    left: 0px;
    bottom: -5px;
    width: 110%;
  }
  .accent{
  width: 150px;
  height: 150px;
  filter: blur(50px);
}
.accent-home-position-top{
  right: 260px;
}
.accent-home-position-bottom{
  bottom: -70px;
}
}

