body{
    padding: 0;
    margin: 0;
}
#header-v2{
    position: relative;
    display: flex;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 2.5%;
    padding-bottom: 2%;
}
#footer{
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 2.5%;
    padding-bottom: 2%;
}
.photoFont {
    text-align: center;
    font-size: 25px;
}
.imgCol{
    width: 93%;
    text-align: center;
    margin: 0 auto;
}

.imgCol img{
    position: relative;
    padding: 0px;
    vertical-align: middle;
    border-radius: 5px;
    width: 32%;
    padding: 3px;
}


/* Small devices (mobile phones) */
@media screen and (max-width: 600px) {
  /* Styles for small screens */
  body {
    padding: 0;
    margin: 0;
  }
  .photoFont{
    font-size: 15px;
  }
  .imgCol img{
    width: 85%;
  }
  .accent{
  width: 300px;
  height: 300px;
}
.accent-left{
  top: 1300px;
  left: 0px;
}
.accent-right{
  top: 500px;
  right: 0px;
}
}

