#resume-content{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2%;
    gap: 10px;
}
.resume{
    border-radius: 20px;
}
.accent-left-resume{
    left: 0px;
    top: 750px;
}