.videoVimeo{
    width: 100%;
    height: 500px;
    position: relative;
    border: none;
}

#videoGallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    justify-content: center;               /* center the whole grid */
    gap: 2px;   
    width: 100%;                          /* spacing between videos */
    max-width: 120%;                     /* max width of gallery */
}

.videoVFX {
    width: 100%;          /* take full width of its column */
    display: block;
    border-radius: 15px;
}

.intro-container{
    display: grid;
    grid-template-columns: 35% 65%;
    width: 100%;
}
.gallery{
    text-align: center;
    margin-top: 2%;
    font-size: 22px;
}
.intro{
    text-align: left;
}

.hello {
    font-size: 25px;
}
.text-description{
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .intro-container{
        grid-template-columns: 1fr;
    }
.video-container{
    width: 100%;
    display: flex;
    justify-content: center; /* center content horizontally */
    margin: 0 auto; 
}

#videoGallery {
    grid-template-columns: 1fr; /* 1 column */
}

#videoGallery .videoVFX {
    width: 100%;
}
.videoVimeo{
    width: 100%;
    height: 300px;
}
}

@media screen and (min-width: 601px) and (max-width:1000px){

    .intro-container{
        grid-template-columns: 1fr;
    }
.videoVimeo{
    width: 100%;
    height: 500px;
    margin-top: 0;
}
}
